#menuList {
    .nav-item .nav-link {
        i {
            margin-right: 8px;
            font-size: 14px;
        }
    }
}

.searchGeo {
    margin-right: 5px;
}

.custom-btn {
    a {
        height: 32px;
        &:last-child{
            margin-right: none;
        }
    }
}