
@import 'mixins';
@import 'loader';
@import '../app/header/header';
@import '../app/aside/aside';
@import '../app/widgets/widgetContainer';
@import 'theme_chiller';
html {
    font-size: initial;
}

body {
    overflow: hidden;
    background: #aad3df;
}

#main {
    width: 100vw;
    height: calc(100vh - 56px);
    margin-top: 56px;
    overflow: hidden;
    position: relative;
    #mapDiv {
        width: 100%;
        height: 100%;
        background: #aad3df;
    }
}

#footer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    left: 0;
}

.form-control,
.btn,
.input-group-text {
    @include border-radius(0);
}

.basemapContainer {
    position: absolute;
    top: 15px;
    right: 15px;
    max-height: calc(100% - 30px);
    transition: right .5s;
    &.hidden {
        right: -250px;
    }
}

.calcite .esriBasemapGalleryNode {
    float: none;
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 6px 7px;
    position: relative;
    text-align: left;
    &.esriBasemapGallerySelectedNode {
        background: #f1f1f1;
    }
    &:hover {
        background: #f8f9fa;
    }
    a {
        flex-grow: 1;
        position: relative;
        z-index: 2;
        .esriBasemapGalleryThumbnail {
            height: 64px;
            width: 64px;
            border: none;
            margin: 1px;
            -moz-box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.25);
            -webkit-box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.25);
            box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.25);
            &.esriBasemapGallerySelectedNode {
                border: 2px solid #F99;
            }
        }
    }
    .esriBasemapGalleryLabelContainer {
        background-color: transparent;
        text-align: left;
        width: auto;
        height: auto;
        overflow: auto;
        font-size: .7rem;
        padding: 5px;
        position: absolute;
        left: 75px;
        z-index: 1;
        color: #6e6e6e;
    }
}

.calcite .esriLayerList .esriContainer {
    background-color: #f3f3f3;
    color: initial;
    border: none;
    padding: 10px 0px;
    .esriList {
        list-style-type: none;
        padding: 0;
    }
    .esriLayer {
        .esriTitle {
            background-color: #fff;
            border-bottom: 1px solid rgba(50, 50, 50, 0.25);
            transition: padding 250ms ease-in-out;
            margin-bottom: 2px;
            .esriTitleContainer {
                border-top: none;
                position: relative;
                .esriLabel {
                    font-family: 'CalciteWebCoreIcons' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    width: 100%;
                    padding: 10px 5px 10px 35px;
                    margin-bottom: 0;
                    &:hover {
                        cursor: pointer;
                    }
                    &:before {
                        content: "\e68d";
                        font-family: 'CalciteWebCoreIcons';
                        position: absolute;
                        left: 10px;
                    }
                }
                input[type="checkbox"] {
                    display: none;
                    &:checked~.esriLabel {
                        color: #888;
                        &:before {
                            content: "\e68e";
                        }
                    }
                }
                .esriToggleButton {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    display: none;
                }
            }
        }
    }
}

.esriControlsBR {
    display: none;
}

.calcite .searchContainer {
    position: absolute;
    right: 10px;
    top: 20px;
    .arcgisSearch {
        .showSources .sourcesMenu {
            width: 100%;
        }
        .searchGroup .searchInput {
            font-size: 14px;
            @media (max-width: 400px) {
                width: 155px;
            }
        }
        .searchBtn {
            font-size: 1rem;
            line-height: 32px;
            .searchIcon {
                line-height: inherit;
            }
        }
        .searchClose,
        .searchSpinner {
            line-height: 32px;
        }
    }
}

.calcite .scalebar_bottom-right {
    right: 160px;
}

.dataTables_wrapper>.row>div {
    max-width: 100%;
}

input.error {
    border: 1px solid #dc3c23;
    color: #dc3c23;
}

label.error {
    color: #ff3111;
    display: inline-block;
}
.select2-container{
    width: 100%!important;
}

//---------------------------------------------